@media screen and (max-width: 1170px) {
    #home .container {
        grid-template-columns: 1fr;
    }

    aside {
        display: none;
    }

    nav .nav-container #navbar {
        display: none;
    }

    nav .nav-container {
        display: flex;
        justify-content: space-between;
        padding: 2rem 2rem;
    }

    nav .nav-container .mobil-menu-open {
        display: block;
    }
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}